name: Docker publish

on:
  workflow_dispatch:
  schedule:
    - cron: "45 0 * * *"
  push:
    branches:
      - "**"
    paths-ignore:
      - "README.md"
      - "docs/**"
      - ".github/**"
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "README.md"
      - "docs/**"
      - ".github/**"

permissions:
  contents: write
  packages: read
  actions: read
  security-events: write

jobs:
  analysis:
    name: Run code analysis and tests
    uses: bvandevliet/Actions.Shared/.github/workflows/dotnet-analysis.yml@master
    with:
      DOTNET_VERSION: 10
  gitversion:
    needs: [analysis]
    name: Execute GitVersion and create tag
    uses: bvandevliet/Actions.Shared/.github/workflows/git-version.yml@master
  build-push:
    needs: [analysis, gitversion]
    name: Build and push
    uses: bvandevliet/Actions.Shared/.github/workflows/docker-build-push.yml@master
    strategy:
      matrix:
        project:
          - TraderEngine.API
          - TraderEngine.CLI
    with:
      CR_REGISTRY: ${{ vars.CR_REGISTRY }}/${{ github.repository_owner }}
      CSPROJ_NAME: ${{ matrix.project }}
      IMAGE_NAME: ${{ vars.CR_REGISTRY }}/${{ matrix.project }}
      majorMinorPatch: ${{ needs.gitversion.outputs.majorMinorPatch }}
      preReleaseLabel: ${{ needs.gitversion.outputs.preReleaseLabel }}
      semVer: ${{ needs.gitversion.outputs.semVer }}
      assemblySemVer: ${{ needs.gitversion.outputs.assemblySemVer }}
      assemblySemFileVer: ${{ needs.gitversion.outputs.assemblySemFileVer }}
      DOTNET_VERSION: 10
    secrets:
      CR_USERNAME: ${{ secrets.CR_USERNAME }}
      CR_PASSWORD: ${{ secrets.CR_PASSWORD }}
